* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #393E46;
}

body {
    background-color: #393E46;
}

/* Header styling */
.header {
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 20px;
    font-weight: 500;
}

.header-sections {
    width: 31%;
    margin: 0px 1px;
    display: flex;
    justify-content: center;
}

#section-1 {
    justify-content: flex-start;
}

#section-3 {
    justify-content: flex-end;
    align-items: center;
}

.display-units {
    color: #EEEEEE;
    margin: 0px 10px;
}

.logo {
    font-size: 45px;
    font-weight: 600;
    color: #EEEEEE;
}

.nav-bar a {
    margin: 0px 15px;
    color: #EEEEEE;
    transition: .5s;
}

.nav-bar a:hover {
    color: #00ADB5;
    transition: .5s;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #EEEEEE;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00ADB5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00ADB5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Search form styling */
.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#welcome-msg {
    margin-bottom: 20px;
    color: #EEEEEE;
    font-size: 24px;
    font-weight: bold;
}

.data-container {
    width: 350px;
    height: 75px;
    background-color: #EEEEEE;
    border-radius: 8px;
    transition: 3s;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 75px;
    background-color: #EEEEEE;
    border-radius: 8px;
}

.form-results {
    width: 350px;
    height: 500px;
    background-color: #EEEEEE;
    border-radius: 8px;
    transition: 3s;
}

.icon-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 26px;
    color: #222831;
}

#cityInput {
    width: 250px;
    height: 60px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EEEEEE;
    color: #222831;
    text-transform: uppercase;
}

#search-button {
    border: none;
    transition: .5s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#search-button:hover {
    background-color: #222831;
    color: #EEEEEE;
    transition: .5s;
}

#search-button:hover #search-icon {
    color: #EEEEEE;
    transition: .5s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #222831;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #EEEEEE;
}

#error-msg {
    margin-top: 20px;
    font-size: 20px;
    color: #00ADB5;
    transition: 1s;
}

.weather-results {
    width: 100%;
    height: 425px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 30% 30%;
    transition: 5s;
    font-weight: bold;
    font-size: 13px;
}

.weather-results>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-results .not-spaced {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#weather-img {
    width: 120px;
    height: 120px;
}

#temp {
    font-size: 30px;
}

#img-description {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    justify-content: space-evenly;
}

#weather-description {
    text-transform: capitalize;
    font-size: 16px
}

.data-value {
    font-size: 11px;
}

.result-icon {
    width: 40px;
    font-size: 30px;
    color: #393E46;
    padding-right: 10px;
    text-align: center;
}

.hidden {
    opacity: 0;
    transition: 1s;
}